.page-title{
    font-size: 2em;
    font-family: Roboto,sans-serif;
}
.page{
    border-left: 2px solid grey;
}
#more {display: none;}

.readmore-btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: #eeeeee;
    text-align: center;
    font-size: 0.7em;
    border: none;
    align-self: center;
}
.card-categories{
    height: 3em;
    width: 2em;
}

#coupon_code_msg{
    color:red;
  }

  .remove_coupon_code_link{
    color:red;
    font-size: 12px;
  }

  #order_place_msg{
    color:red;
    font-size: 16px;
  }


  .order_detail{
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 25px;
  }

  .coupon_apply_txt{
    font-size: 14px;
    color: red;
  }
